doctype html
html
  head
    meta(charset='uft-8')
    title DELTA
    link(rel='stylesheet' href='css/styles.css')
    style.
      @import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
  body
    #heading
      h1 DELTA
      button#loginb(onclick='location.href="/login"') LOGIN
      button#registerb(onclick='location.href="/registration"') REGISTER
    #instructions
      h2 WHAT IS THE WEBSITE ABOUT?
      ul
        li REGISTRATION IS MANDATORY
        br
        li AFTER YOU REGISTER AND LOGIN YOU WOULD BE ABLE TO CREATE TEAMS AND CREATE POLLS, AND INVITE OTHERS TO YOUR TEAM
        br
        li VARIOUS TEXT OPTIONS FOR POLLS ALLOWED
        br
        li YOUR DETAILS WILL BE AVAILABLE AT THE DASHBOARD
        br
        li RESULTS WILL BE DISPLAYED AFTER THE ADMIN ENDS THE POLL
        br
        li DO NOT FORGET TO CHECK "ABOUT THE SERVICE" PAGE TO KNOW MORE ABOUT THE SITE