doctype html
html
  head
    meta(charset='uft-8')
    title DELTA T-SHIRT
    link(rel='stylesheet' href='css/styles.css')
    style.
      @import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
  body
    #heading
      h1 DELTA
      button#loginb(onclick='location.href="/login"') LOGIN
      button#registerb(onclick='location.href="/registration"') REGISTER
    #instructions
      h2 What is this website about?
      ul
        li Registration is mandatory
        li After you register and login, you would be able to create teams or get invite from other members to join a team.
        li In the team you can post polls with various text options.
        li Poll will end by the deadline specified by the admin manually.
        li Results can be viewed either in the team or in your dashboard too.
