doctype html
html
  head
    meta(charset='uft-8')
    title DELTA HOME
    link(rel='stylesheet' href='../../css/teampage.css')
    style.
      @import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
  body
    #heading
      h1 DELTA
      button#dashboard DASHBOARD
      button#logout(onclick="location.href='/logout'") LOG OUT
    h2 WELCOME TO #{page}
    #taskbar
        form#invite(action="/homepage/teams/"+(user.teamnames[index]).toUpperCase()+'/invites', method="POST")
            label(for="inv") INVITE:
            input#inv(type="text" placeholder="ENTER USERNAME TO INVITE" name="inv")
            button#in INVITE USER
        button#pollcr CREATE POLL
    #polls
    script.
        let pollcr = document.getElementById('pollcr');
        let page = "#{page}";
        pollcr.addEventListener("click",()=>{
            location.href = '/homepage/teams/'+page +'/pollcr';
        }); 