body{
    background-color: rgb(231, 226, 226);
    /*
    background-image: url('../imgs/regis.gif');
    background-size: cover;
    */
    margin:0;
    font-family: 'Oswald', sans-serif;
}
#heading{
    padding-left: 5px;
    width: 99%;
    height: 60px;
    background-color:rgb(4, 114, 4);
    color: black;
    border: 5px solid black;
    box-shadow:0 0 5px 5px rgb(92, 91, 91);
    text-shadow: 1px 1px 3px white;
    font-family: 'Palette Mosaic', cursive;
}
h1{
    margin-top: 5px;
}
#team{
    position: relative;
    margin-top: -67px;
    float: right;
    width: 100px;
    height: 50px;
    margin-right: 40px;
    border: 5px solid black;
    color: black;
    font-weight: bold;
    font-family: 'Palette Mosaic', cursive;
    cursor: pointer;
    transition: 0.5s;
}
#team:hover{
    background-color: rgb(155, 151, 151);
    transition: 0.5s;
}
h2
{
    text-align: center;
    position: relative;
    margin-top: 50px;
    font-family: 'Oswald', sans-serif;
    font-weight:900;
    text-shadow: 1px 1px rgb(4, 114, 4);
}
#member{
    position:relative;
    margin-right: auto;
    margin-top: 50px;
    margin-left: auto;
    background-color: rgb(4, 114, 4);
    width: 70%;
    min-height: 50px;
    height: auto;
    border: 5px solid black;
    box-shadow:0 0 5px 5px rgb(92, 91, 91);
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
}
p{
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-weight:800;
    margin-left: 10px;
    text-shadow: 1px 1px rgb(4, 114, 4);
}