doctype html
html
  head
    meta(charset='uft-8')
    title DELTA TEAMS
    link(rel='stylesheet' href='../css/teams.css')
    style.
      @import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
  body
    #heading
      h1 DELTA
      button#dashboard(onclick="location.href='/homepage/dashboard'") DASHBOARD
      button#homepage(onclick="location.href='/homepage'") HOME PAGE
    h2 YOUR TEAMS
    #display
      each val, index in  user.teamnames 
        button(class = 'teambuttons') #{user.teamnames[index].tname.toUpperCase()}
        br
    script.
      let names = document.getElementsByClassName('teambuttons');
      for(let i=0;i<names.length;i++)
      {
      let k= names[i].textContent;
      names[i].addEventListener("click",()=>{
      location.href = '/homepage/teams/'+k;
      });
      } 